body {
  font-family: 'Tenor Sans', 'Montserrat', sans-serif;
  height: 200vh;
  background: #030139;
}

.container {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

/* common styles */
.btn {
  margin-top: 15px;
  width: 280px;
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  background: -o-linear-gradient(left, #b16106, #c67706, #da8d07, #eda508, #ffbd0b);
  background: -webkit-gradient(linear, left top, right top, from(#b16106), color-stop(#c67706), color-stop(#da8d07), color-stop(#eda508), to(#ffbd0b));
  background: linear-gradient(to right, #b16106, #c67706, #da8d07, #eda508, #ffbd0b);
  border: 0;
  border-radius: 5px;
  color: #1c1d1e;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: 0;
}

.btn:hover,
.btn:focus {
  background: -webkit-gradient(linear, left top, right top, from(#b16106), color-stop(#c67706), color-stop(#da8d07), color-stop(#eda508), to(#ffbd0b));
  background: -o-linear-gradient(left, #b16106, #c67706, #da8d07, #eda508, #ffbd0b);
  background: linear-gradient(to right, #b16106, #c67706, #da8d07, #eda508, #ffbd0b);
  -webkit-box-shadow: 0px 15px 20px rgba(184, 84, 41, 0.87);
  box-shadow: 0px 15px 20px rgba(184, 84, 41, 0.87);
  color: #fff;
  -webkit-transform: translateY(-7px);
  -ms-transform: translateY(-7px);
  transform: translateY(-7px);
}

.btn:active {
  -webkit-transform: scale(0.99);
  -ms-transform: scale(0.99);
  transform: scale(0.99);
}

.btn-border {
  width: auto;
  background: transparent;
  border: 1px solid #c97807;
  color: #c97807;
  text-transform: inherit;
}

.title {
  text-transform: uppercase;
  font: bold 25px 'Montserrat';
  color: #eb9504;
}

.page-title {
  text-align: center;
  padding: 100px 0;
  font: bold 30px 'Tenor Sans';
}

.content-title {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font: bold 18px 'Montserrat';
}

.subtitle {
  color: #7e7e7e;
  text-align: center;
  padding-bottom: 100px;
  line-height: 1.4;
}

.disk {
  z-index: 2;
  position: absolute;
  animation: rotation 6s infinite linear;
  -webkit-animation: rotation 6s infinite linear;
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 200px;
}

.content-block {
  width: 30%;
  background: #292929;
  padding: 30px 30px 80px 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 8px 10px 20px #b1610659;
  box-shadow: 8px 10px 20px #b1610659;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.img-center {
  display: block;
  margin: auto;
}

.shrink {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

svg {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes rotation-back {
  from {
    -webkit-transform: rotate(359deg);
  }

  to {
    -webkit-transform: rotate(0deg);
  }
}

@-webkit-keyframes rotation-back {
  from {
    -webkit-transform: rotate(359deg);
  }

  to {
    -webkit-transform: rotate(0deg);
  }
}

/* end of common styles */


/*...................Header.......................*/
nav ul li a:hover,
nav ul li a:active,
a.nav-active {
  color: #5a5c5b !important;
  background: -o-linear-gradient(left bottom, #e78007, #e98a04, #eb9504, #ed9f05, #eea90a);
  background: -webkit-gradient(linear, left bottom, right top, from(#e78007), color-stop(#e98a04), color-stop(#eb9504), color-stop(#ed9f05), to(#eea90a));
  background: linear-gradient(to right top, #e78007, #e98a04, #eb9504, #ed9f05, #eea90a);
  padding: 8px 20px;
  border-radius: 5px;
}

#header {
  background:  #030139;
}

.navbar-fixed#header {
  background-image: url(../img/fixed.jpg);
  background-size: cover;
  -webkit-transition: height 2s, width 0s;
  -o-transition: height 2s, width 0s;
  transition: height 2s, width 0s;
  position: fixed;
  width: 100%;
  z-index: 99999;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.brand {
  position: relative;
  width: 170px;
}

.brand img {
  max-width: 100%;
}

.vinyl {
  position: absolute;
  top: 10px;
  right: 3px;
}

.vinyl img {
  width: 32px;
  animation: rotation 5s infinite linear;
}

.vinyl .tonearm {
  position: absolute;
  height: 17px;
  width: 10px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  border-bottom-left-radius: 13px 83%;
  transform: rotate(219deg);
  z-index: 60;
  left: 17px;
  top: 6px;
}

.vinyl .tonearmblock {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: 22px;
  right: 8px;
  background: #000;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 auto;
  flex: 1 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

nav ul {
  margin-left: auto;
}

nav ul li {
  float: left;
}

nav ul li a,
#cell {
  font: 600 .8333333333rem/1 'Montserrat', sans-serif;
  margin: 0 13px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

#cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #c5920b;
  margin-left: auto;
}

#cell:hover {
  color: #fff;
}

#cell .fa:hover {
  color: #c5920b;
}

#cell .fa {
  color: #fff;
  font-size: 18px;
  margin-right: 5px;
}

#cell svg {
  fill: #fff;
  width: 16px;
  height: 16px;
}

ul li a:active,
ul li a:visited,
ul li a:link {
  text-decoration: none;
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  right: 10px;
  height: 70px;
  width: 70px;
  z-index: 9999;
}

@media screen and (min-width: 940px) {
  #menu {
    display: block !important;
  }
}

@media only screen and (max-width: 938px) {
  .brand {
    width: 180px;
  }

  .vinyl {
    top: 8px;
    right: 1px;
  }

  .vinyl img {
    width: 28px;
  }

  .vinyl .tonearm {
    left: 14px;
    top: 3px;
  }

  .tonearmblock {
    top: 20px;
  }

  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
  }

  nav ul {
    left: 0;
    top: 60px;
    position: absolute;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.97);
    width: 100%;
    padding: 15px 0 30px 0;
  }

  nav ul li {
    float: none;
    border-bottom: 1px solid #fff;
    padding: 10px 0 10px 0;
  }

  #cell,
  nav ul {
    display: none;
  }
}

#nav-toggle {
  position: absolute;
  left: 30px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #5a5c5b;
  position: absolute;
  display: block;
  content: '';
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*..............Heading...............*/
header {
  background-image: url(224.jpg);
  height: 100vh;
  background-size: cover;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  color: #fff;
}

.content h1 {
  margin-bottom: 30px;
}

.content div {
  background: -webkit-gradient(linear, right top, left bottom, from(rgba(231, 128, 7, 0.48)), color-stop(rgba(184, 84, 41, 0.84)), color-stop(rgba(127, 50, 45, 0.88)), color-stop(rgba(65, 28, 33, 0.71)), to(rgba(0, 0, 0, 1)));
  background: -o-linear-gradient(right top, rgba(231, 128, 7, 0.48), rgba(184, 84, 41, 0.84), rgba(127, 50, 45, 0.88), rgba(65, 28, 33, 0.71), rgba(0, 0, 0, 1));
  background: linear-gradient(to left bottom, rgba(231, 128, 7, 0.48), rgba(184, 84, 41, 0.84), rgba(127, 50, 45, 0.88), rgba(65, 28, 33, 0.71), rgba(0, 0, 0, 1));
  padding: 50px;
  border-radius: 5px;
}

.content ul li {
  font-size: 25px;
  margin: 15px 0;
}

/* About */
.about {
  background-image: url(../img/about.jpg);
  background-size: cover;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.about .disk {
  right: 15%;
  top: -40px;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 70px;
}

.about-service h3 {
  margin-bottom: 50px;
  font-size: 25px;
}

.about-service {
  margin-left: 8%;
}

.about-service ul li {
  color: #7e7e7e;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-weight: bold;
  line-height: 1.5;
}

.about-service ul li img {
  padding-right: 10px;
}


/* .......Services.......... */

.service {
  color: #fff;
}

.service-content {
  border-radius: 20px;
}

.service-content h2 {
  font-size: 16px;
  text-align: center;
  padding: 30px 0;
}

.service-content p {
  line-height: 1.2;
  text-align: justify;
}

.service-content:hover {
  background-image: url(../img/bg-service.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

.service-content:hover p {
  color: #000;
}

/* Order */
.order {
  background-image: url(https://www.dj-bravo.in.ua/img/order-bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: #111;
  position: relative;
}

.order .disk {
  left: 15%;
  top: -65px;
}

.order-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 90px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.discuss {
 
  background-size: cover;
  background-position: 50% 50%;
  background: #030139;
  margin-right: -62px;
  padding: 35px 80px 35px 50px;
  text-align: center;
  border-radius: 25px;
}

.discuss h3 {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
}

.discuss p {
  margin: 20px 0;
  font: 600 16px 'Montserrat';
}

.discuss .btn {
  color: #030139;
  width: 100%;
  background: #fff;
}

.discuss .btn:hover {
  color: #1c1d1e;
}

/* Gallery */

.gallery {
  position: relative;
}

.gallery .disk-little {
  top: -55px;
  right: 20%;
}

.lg-outer,
.lg-backdrop {
  z-index: 999999 !important;
}

#lg-download,
.lg-download,
.lg-sub-html {
  display: none !important;
}

.gallery-list li,
#show_more {
  width: 25%;
  overflow: hidden;
  position: relative;
}

.gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
}

.gallery .gallery-list img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
  margin-bottom: -4px;
}

.gallery-list li img {
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.gallery .gallery-list li img:hover,
.gallery-list li .play-icon:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#show_more img {
  opacity: 1;
  filter: alpha(opacity=100);
}

.gallery .gallery-list li img:hover,
#show_more img:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

#more_photo {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* Proposition */
.proposition {
  background-image: url(	https://www.dj-bravo.in.ua/img/proposition_bg.jpg);
  background-size: auto;
  background-position: 50% 50%;
}

.proposition h2 {
  padding-bottom: 20px;
}

.proposition .content-block {
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.propsition-content {
  padding-bottom: 170px;
}

.propsition-content h3 {
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #eda508;
  font-size: 20px;
  font-family: 'Montserrat';
}

.propsition-content h3 b {
  color: #fff;
}

.propsition-content p {
  background-image: url(../img/bg-service.png);
  background-size: cover;
  background-position: 60% 50%;
  padding: 60px 30px 45px 30px;
  margin: 35px -31px 0 -30px;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.propsition-content button {
  border-color: #fff;
  color: #fff;
  display: block;
  margin: 40px auto 0 auto;
  width: 200px;
}

.propsition-content button:hover {
  background: #fff;
  color: #c97807;
}

/* Video */
.play-icon {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  width: 55px !important;
}

#video-list .video-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-position: center;
}

#video-list .video-content:after {
  position: absolute;
  background: #00000078;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* popup */
.modal {
  display: none;
  position: fixed;
  z-index: 99991;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.89);
}

.modal-content {
  background-color: #000;
  padding: 20px;
  width: 65%;
  margin: auto;
  position: relative;
  padding-bottom: 35%;
}

.modal-content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.close {
  color: #aaa;
  font-size: 31px;
  font-weight: bold;
  z-index: 9999;
  position: absolute;
  right: 0;
  top: 5px;
}

.close:hover,
.close:focus {
  color: #ccc;
  cursor: pointer;
}

.show-modal {
  display: block;
}

/* Feedback */
.feedback {
  background-image: url(../img/feedback_bg.jpg);
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  padding-bottom: 90px;
}

.feedback .disk-little {
  top: -35px;
  right: 20%;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background-color: #da8d07;
}

.bx-wrapper {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  background: #292929;
  border-radius: 20px;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto .slide-item {
  bottom: 15px;
}

.slide-item {
  padding: 0 60px 30px 60px;
  color: #ececec;
}

.feedback-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
}

.feedback-content {
  width: 50%;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.feedback-content .text {
  font-style: italic;
  line-height: 1.2;
  padding-right: 20px;
}

.feedback-content .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 5%;
}

.feedback-content .user img {
  padding-right: 5%;
}

.feedback-content .user p {
  padding-bottom: 5px;
}

.feedback-content .user strong {
  color: #da8d07;
}

/* Contact */
.contact .disk-little {
  top: 55px;
  right: 20%;
}

.contact img {
  position: absolute;
  top: -130px;
}

.contact .page-title {
  padding-bottom: 0;
}

.contact .subtitle {
  width: 40%;
  padding: 20px 0 26px 0;
  margin: auto;
}

.contact-content {
  background: #292929;
  position: relative;
  padding: 50px 0;
}

form {
  text-align: center;
}

.form-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

label {
  display: block;
  letter-spacing: 4px;
  text-align: center;
  margin: 30px 20px;
}

label .label-text {
  display: block;
  color: #9B9B9B;
  cursor: text;
  font-size: 18px;
  line-height: 20px;
  -ms-transform: translateY(-34px);
  -webkit-transform: translateY(-34px);
  transform: translateY(-34px);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

label input,
label textarea {
  font: normal 18px 'Tenor Sans', 'Montserrat', sans-serif;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #4A4A4A;
  color: white;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 250px;
}

label textarea {
  width: 580px;
}

label input:focus,
label textarea:focus {
  max-width: 100%;
  width: 320px;
  border-color: #e78007;
}

label textarea:focus {
  width: 640px;
}

label input:focus+.label-text,
label input:valid+.label-text {
  font-size: 13px;
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

label input:focus+.label-text,
label textarea:focus+.label-text {
  color: #e78007;
}

label textarea:focus+.label-text,
label textarea:valid+.label-text {
  -ms-transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.error {
  border-color: red;
}

form .btn {
  border-color: #fff;
  color: #fff;
  width: 40%;
  font-weight: 400;
  font-size: 16px;
}

.thank {
  text-align: center;
  padding-bottom: 20px;
  color: #fff;
  display: none;
}

/* Social */
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 90px 0 50px 0;
}

.social:before,
.social:after {
  content: '';
  display: block;
}

.social a,
.social2 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social a:hover,
.social a:hover svg,
.social2 a:hover,
.social2 a:hover svg {
  color: #e78007;
  fill: #e78007;
}

.social svg,
.social2 svg {
  fill: #9b9ca0;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.social2 svg {
  width: 35px;
  height: 35px;
}

.social2 a {
  margin: 0 20px;
}

.social2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 50px;
}

/* Footer */
.footer {
  background: #171518;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer p {
  padding: 30px 0;
}

/* Btn up */
.btn_up {
  background-image: url('../img/bt_up.png');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: -85px;
  right: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.btn_up:hover {
  -webkit-box-shadow: 0px 15px 20px #b85329a1;
  box-shadow: 0px 15px 20px #b85329a1;
  border-radius: 10px;
  -webkit-transform: translateY(-7px);
  -ms-transform: translateY(-7px);
  transform: translateY(-7px);
}

.btn_up_active {
  bottom: 60px;
}


/* Responsive */
@media only screen and (max-width: 990px) {
  .about-content img {
    max-width: 30%;
  }

  .page-title {
    padding: 90px 0;
  }

  .about-content {
    padding-bottom: 30px;
  }

  .about-service h3 {
    margin-bottom: 40px;
  }

  .proposition .content-block {
    width: 32%;
  }
}

@media only screen and (max-width: 960px) {
  .order-content img {
    max-width: 40%
  }

  .contact .disk-little {
    top: 40px;
    right: 15%;
  }
}

@media only screen and (max-width: 920px) {
  .contact .disk-little {
    top: 30px;
    right: 12%;
  }

  .contact .subtitle,
  .contact .page-title {
    padding-left: 10%;
  }
}

@media only screen and (max-width: 830px) {
  #service .page-title {
    padding: 65px;
  }

  .service {
    padding-bottom: 120px;
  }

  .service .content-block {
    width: 31%;
    padding: 15px 15px 50px 15px;
  }

  .proposition .page-title {
    padding-top: 70px;
  }

  .proposition .subtitle {
    padding-bottom: 70px;
  }

  .propsition-content {
    padding-bottom: 140px;
  }

  .feedback-content {
    padding: 30px 0 20px;
  }

  .slide-item {
    padding: 0 20px 30px;
  }
}

@media only screen and (max-width: 805px) {
  .proposition {
    background-size: cover;
  }

  .propsition-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 70px;
  }

  .proposition .content-block {
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
  }

  .contact .disk-little {
    top: 30px;
    right: 8%;
    max-width: 18%;
  }

  .contact .subtitle,
  .contact .page-title {
    padding-left: 20%;
  }

}

@media only screen and (max-width: 770px) {
  .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about-content img {
    max-width: 40%;
  }

  .about-service {
    margin-left: 2%;
    margin-top: -50px;
  }

  .about .disk {
    right: 8%;
    max-width: 18%;
  }

  .page-title {
    padding: 60px 0;
  }

  .content-title {
    font-size: 16px;
  }

  .order .disk {
    max-width: 18%;
  }

  .discuss {
    padding: 25px 80px 25px 25px;
  }

  .discuss h3 {
    font-size: 18px;
  }

  .gallery-list li,
  #show_more {
    width: 50%;
  }

  .feedback {
    padding-bottom: 50px;
  }

  .contact img {
    top: -100px;
    max-width: 40%;
  }

  .contact .disk-little {
    top: -35px;
    right: 4%;
    max-width: 13%;
  }

  .contact .subtitle,
  .contact .page-title {
    padding-left: 14%;
  }

  .contact .subtitle {
    padding-top: 12px;
  }

}

@media only screen and (max-width: 730px) {
  .service-content p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 700px) {
  .about .disk {
    left: 5%;
  }

  .circles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 50px 0;
  }

  .circle-container {
    margin-bottom: 50px;
  }

  .service {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 90px;
  }

  .service .content-block {
    width: 100%;
    margin-bottom: 30px;
    padding: 10px 20px 30px;
  }

  .service-content p {
    font-size: 15px;
  }

  .service-content h2 {
    padding: 10px 0 25px;
  }

  .service-content:hover {
    background: #292929;
  }

  .service-content:hover p {
    color: #fff;
  }

  .order-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding-top: 20px;
  }

  .discuss {
    padding: 25px;
    margin-right: 0;
  }

  .discuss h3 {
    font-size: 16px;
  }

  .discuss p {
    font-size: 14px;
  }

  .order-content img {
    margin-left: auto;
    margin-bottom: -40px;
  }

  .gallery .disk-little {
    top: -53px;
    right: 8%;
    max-width: 14%;
  }

  .feedback .disk-little {
    right: 8%;
    max-width: 16%;
  }

  .feedback-content .text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 690px) {
  .brand {
    width: 192px;
  }
}


@media only screen and (max-width: 690px) {
  .feedback {
    padding-bottom: 20px;
  }

  .contact img {
    top: -40px;
    max-width: 35%;
  }

  .form-inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  label input,
  label textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 90%;
  }

  label input:focus,
  label textarea:focus {
    width: 100%;
  }

  .contact .subtitle,
  .contact .page-title {
    padding-left: 25%;
  }

  .contact .subtitle {
    width: 60%;
  }

  .social {
    margin: 60px 0 40px;
  }

  .social2 {
    margin-bottom: 40px;
  }

  .social a {
    font-size: 16px;
  }

  .social svg {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .proposition .page-title {
    padding: 65px 0 10px;
  }

  .proposition .subtitle,
  .propsition-content {
    padding-bottom: 55px;
  }

  .proposition .content-block {
    width: 80%;
    padding: 20px 20px 0;
  }

  .propsition-content p {
    padding: 40px 20px 30px 20px;
    margin: 30px -20px 0 -20px;
  }

  .feedback-content {
    padding: 20px 0 15px;
  }

  .slide-item {
    padding: 0 20px 20px;
  }

  .brand {
    width: 210px;
  }
}

@media only screen and (max-width: 570px) {
  .contact .subtitle {
    line-height: 1.2;
    font-size: 14px;
  }

  .contact img {
    top: -30px;
  }

  form .btn {
    width: 70%;
  }

  .social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .social a {
    margin-bottom: 12px;
    font-size: 17px;
  }
}

@media only screen and (max-width: 520px) {
  .order .disk {
    left: 6%;
    top: -45px;
    max-width: 22%;
  }

  .order-content {
    padding-bottom: 70px;
  }

  .order-content img {
    max-width: 45%;
    margin-bottom: -36px;
  }

  .gallery .disk-little {
    top: -45px;
    right: 6%;
    max-width: 17%;
  }

  .feedback-content .text {
    font-size: 12px;
  }

  .user div {
    font-size: 13px;
  }

  .slide-item {
    padding: 0 0 20px 12px;
  }

  .feedback-content .text {
    padding-right: 12px;
  }
}

@media only screen and (max-width: 500px) {
  .brand {
    width: 235px;
  }

  #bravo {
    margin-left: auto;
    max-width: 55%;
    margin-right: 8%;
  }

  .about-service {
    margin-left: 0;
  }

  .about .disk {
    max-width: 24%;
  }

  .feedback .disk-little {
    right: 6%;
    max-width: 20%;
  }

  .contact .subtitle,
  .contact .page-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right;
    padding-left: 0;
    margin: 0;
    margin-left: auto;
  }

  .contact .subtitle {
    width: 70%;
  }

  .contact img {
    top: -11px;
  }

  .contact-content {
    padding: 30px 0;
  }

  label .label-text,
  label input,
  label textarea {
    font-size: 15px;
  }

  label input:focus+.label-text,
  label input:valid+.label-text {
    font-size: 13px;
    -ms-transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
  }

  label textarea:focus+.label-text,
  label textarea:valid+.label-text {
    -ms-transform: translateY(-80px);
    -webkit-transform: translateY(-80px);
    transform: translateY(-80px);
  }

  label {
    margin: 20px;
  }

  .contact .btn {
    margin-top: 0;
    font-size: 15px;
  }

  .contact .disk-little {
    max-width: 15%;
  }

  .contact img {
    top: -5px;
  }

  .social {
    margin: 40px 0 15px;
  }

  .social2 {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 470px) {
  .content {
   justify-content: center;
  }

  .content div {
    padding: 30px;
  }

  .content h1 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 430px) {
  .content div {
    padding: 25px;
  }

  .content h1 {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .content ul li {
    font-size: 20px;
    margin: 10px 0;
  }

  .content .btn {
    width: 100%;
  }

  .contact img {
    top: -60px;
    max-width: 50%;
  }

  .contact .subtitle {
    display: none;
  }

  .contact .page-title {
    padding-bottom: 50px;
  }

  .contact .disk-little {
    max-width: 18%;
  }

  .thank {
    font-size: 13px;
  }
}

@media only screen and (max-width: 400px) {
  .brand {
    width: 255px;
  }

  .page-title {
    font-size: 26px;
  }

  #bravo {
    max-width: 62%;
    margin-right: 0;
  }

  .page-title {
    padding-bottom: 30px;
  }

  .about-service ul li {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .about-content {
    padding-bottom: 0;
  }

  .btn-border {
    width: 100%;
  }

  .circles {
    padding-bottom: 20px;
  }

  .service {
    padding-bottom: 60px;
  }

  .discuss p {
    margin: 10px 0;
  }

  .order-content img {
    max-width: 54%;
  }

  .order-content {
    padding-top: 5px;
    padding-bottom: 60px;
  }

  .order .disk {
    max-width: 26%;
  }

  .gallery .disk-little {
    top: -40px;
    right: 6%;
    max-width: 21%;
  }

  .proposition .content-block {
    width: 96%;
  }

  .propsition-content button {
    margin-top: 20px;
  }

  .feedback .disk-little {
    right: 6%;
    max-width: 23%;
  }

  .feedback-content .text {
    font-size: 11px;
  }

  .feedback-content .text {
    padding-right: 10px;
  }

  .slide-item {
    padding: 0 0 20px 10px;
  }

  .feedback-content {
    padding: 15px 0 10px;
  }
}

@media only screen and (max-width: 390px) {
  .contact img {
    top: -55px;
    max-width: 51%;
  }

  form .btn {
    width: 85%;
  }

  label {
    margin: 20px 10px;
  }
}

@media only screen and (max-width: 375px) {
  .content h1 {
    font-size: 18px;
    margin-bottom: 18px;
  }
}

@media only screen and (max-width: 370px) {
  .brand {
    width: 270px;
  }

  .user div {
    font-size: 11px;
  }

  .contact img {
    top: -60px;
    max-width: 48%;
  }

  .contact .page-title {
    padding-bottom: 20px;
  }

  .footer p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 350px) {
  .about .disk {
    max-width: 26%;
  }

  .page-title {
    padding: 40px 0 20px 0;
  }

  .about-service h3 {
    font-size: 20px;
  }

  .contact .page-title {
    padding-bottom: 33px;
  }

  .thank {
    font-size: 11px;
  }
}

@media only screen and (max-width: 330px) {
  .brand {
    width: 300px;
  }

  .contact img {
    top: -56px;
    max-width: 44%;
  }

  .contact .page-title {
    padding-bottom: 16px;
  }
}